* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery {
  text-align: center;
}

.gallery-container {
  display: flex; /* Utiliser flexbox pour aligner les images */
  justify-content: center; /* Centrer les images horizontalement */
  gap: 20px; /* Espacement entre les images */
  margin-bottom: 40px; /* Ajoute un espace entre les images et le bas */
}

.image-frame {
  border: 2px solid #4CAF50; /* Bordure autour de chaque image */
  border-radius: 5px; /* Coins arrondis */
  overflow: hidden; /* Pour cacher tout débordement */
  width: 200px; /* Largeur fixe pour chaque image */
  height: 200px; /* Hauteur fixe pour chaque image */
  display: flex; /* Utiliser flex pour centrer l'image */
  align-items: center; /* Centrer verticalement l'image */
  justify-content: center; /* Centrer horizontalement l'image */
}

.image-frame img {
  width: 100%; /* S'assurer que l'image prend toute la largeur */
  height: auto; /* Maintenir le ratio d'aspect de l'image */
  object-fit: cover; /* Remplir le cadre sans déformer l'image */
  transition: transform 0.2s; /* Animation au survol */
}

.image-frame:hover img {
  transform: scale(1.05); /* Zoom léger au survol */
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.form-container {
  max-width: 400px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  padding: 20px; /* Ajoute de l'espace à l'intérieur du conteneur */
  background-color: white; /* Couleur de fond du conteneur */
  border: 1px solid #ccc; /* Bordure autour du conteneur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour donner du relief */
}
.form-title {
  text-align: center; /* Centre le texte du titre */
  margin-bottom: 20px; /* Ajoute un espace en bas du titre */
}

